.Header1{
    color: black;
    background-color: #d3d3d3;
    padding: 10px 10px;
    text-align: center;
}

.copyright{
    background-color: black;
    text-align: center;
    color: white;
}